header {
  background-color: rgb(206, 206, 206);
  display: block;
  width: 100%;
}

.searchForm {
  min-width: 800px;
  display: block;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.searchLabel {
  padding: 20px;
  font-family: var(--font-family);
  font-size: 24px;
}

.searchError {
  margin-top: 5px;
  margin-left: 10px;
  display: flex;
  color: red;
  font-size: 14px;
  font-family: var(--font-family);
}
.submitBtn {
  padding: 0;
  margin: auto 0;
}
.searchInput {
  padding-left: 10px;
  margin-left: 5px;
  height: 60px;
  width: 400px;
  font-family: var(--font-family);
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #8d8d8d;
}
