.gallery {
  padding-left: 32px;
  padding-right: 32px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;
}
.item {
  position: relative;
  cursor: pointer;
}
.gallery img {
  overflow: visible;
}
.gallery .landscape {
  grid-column: span 2;
}
