/* .landscapeDiv {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 4/3;
}
.portraitDiv {
  margin: 0;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 3/4;
} */
.imageGallery {
  width: 100%;
  object-fit: cover;
  padding: 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
