.modal {
  position: absolute;
  top: 2%;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  padding: 36px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  opacity: 1;
}

.modalImg {
  height: 100%;
  object-fit: contain;
  margin: 0 auto;
}
.modalBtn {
  font-family: var(--font-family);
  position: absolute;
  top: 10;
  right: 10;
  background-color: #f5f5f56b;
  backdrop-filter: blur(10px);
  border: none;
  color: black;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
}
